.main {
    background-color: #000;
    height: 350px;
    margin: 20px;
    flex: 100% 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a9aad6;
    cursor: pointer;
}